@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}
HTML {
	height: 100%;
	WIDTH: 100%;
	margin: 0;
	padding: 0;
	OVERFLOW-Y: hidden;
}
HTML.main{
	MIN-HEIGHT: 620px;
	MIN-WIDTH: 1000px;
}

BODY {
	position: relative;
	WIDTH: 100%;
	height: 100%;
	margin: 0;
	PADDING: 0px;
	border: 0;
	BACKGROUND: #f7f7f7;
	FONT-FAMILY: Myriad Pro, Microsoft YaHei, Verdana;
	OVERFLOW-Y: hidden;
}
table{
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0;
}
a{
	color: #0066cc;
    background-color: transparent;
    color: #0f89f5;
    text-decoration: none;
}
input[type=text]{
	font-size: 1em;
	padding: 5px 5px;
}
.disable{
	color:#CCCCCC;
}
.hide{
	display: none;
}
.anchor{
    cursor: pointer;
}

.BMap_cpyCtrl,
.anchorBL,
#baidumap div div a,
a.amap-logo,
div.amap-copyright{
	display:none;
}

#container{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}

#lefttop{
	position: absolute;
	left: 15px;
	top: 15px;
	z-index:1000;
}

span.button{
	display: inline-block;
	border: 1px solid #aaa;
	border-width: 1px;
	color: #1c94c4;
	font-weight: bold;
	font-size: 1em;
	padding: .3em 1em;
	border-radius: 4px;
	cursor: pointer;
	background: #ddddff;
}
span.button:hover{
	background: #eeeeff;
	border: 1px solid #555;
}

.WWUI-button.mapbtn{
	height: 42px;
	line-height: 42px;
	padding: 0em 1em;
	background: #fff;
	color: #000;
	border: none;
	-webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -o-border-radius: 23px;
    border-radius: 23px;
	box-shadow: 0 6px 6px rgba(0,0,0,.15);
}

div.layerbox {
	position: absolute;
    background: #fff;
    top: 15px;
    right: 385px;
    height: 42px;
    z-index: 11;
	-webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -o-border-radius: 23px;
    border-radius: 23px;
	box-shadow: 0 6px 6px rgba(0,0,0,.15);
}
div.layerbox_mobile {
	position: absolute;
    background: #fff;
    width: 3rem;
    z-index: 11;
	-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
	box-shadow: 0 6px 6px rgba(0,0,0,.15);
}
div.layerbox_item {
    padding: 13px 24px 0px 24px;
    height: 18px;
}
div.layerbox_item_mobile {
	padding: 0 0.5em;
}
div.layerbox_item .show-list {
    position: relative;
}
div.layerbox_item .item {
    float: left;
    padding: 0 12px;
    font-size: 14px;
    border-left: 1px #dbdee2 dashed;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
    zoom: 1;
    color: #666;
}
div.layerbox_item_mobile .item {
	display: block;
    border-top: 1px #dbdee2 dashed;
    cursor: pointer;
    overflow: visible;
    zoom: 1;
}
div.layerbox_item .item:first-child {
	border-left: none;
}
div.layerbox_item_mobile .item:first-child {
	border-top: none;
}
div.layerbox_item .item span.icon{
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 2px;
	border: 1px solid #D9D9D9;
	margin-bottom: -4px;
	margin-right: 0.5em;
}
div.layerbox_item .item.active span.icon{
	background-color: #0068FF;
}
div.layerbox_item .item.active span.icon .iconfont{
    position: absolute;
    margin-top: 3px;
    margin-left: 2px;
    width: 5px;
    height: 8px;
    color: #FFF;
    left: 6px;
    top: 2px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform-origin: center;
    transform: translate(-50%, -30%) rotate(45deg);
    -webkit-transform: translate(-50%, -30%) rotate(45deg);
}
div.layerbox_item_mobile .item img{
	width: 2rem;
	margin: 0.5rem 0;
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
div.layerbox_item_mobile .item.active img{
	-webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none
}

.dlgform{
	margin: 10px 20px;
}

div.infowindow{
	position: relative;
	min-width: 220px;
    background: #FFF;
    color: #666;
    padding: 10px 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
	box-shadow: 0 6px 6px rgba(0,0,0,.15);
	margin-bottom:6px;
}
div.infowindow:before{
    box-sizing: content-box;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    padding:0;
    border-width:6px 6px 0;
	border-style:solid;
	border-color:#aaa transparent transparent;
    display: block;
    content:'';
}    
div.infowindow:after{
    box-sizing: content-box;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
    padding:0;
    border-width:4px 4px 0;
 	border-style:solid;
 	border-color:#FFF transparent transparent;
    display: block;
    content:'';
}    
div.infowindow div.infoclose{
	position: absolute;
	top: 10px;
	right: 12px;
}
div.infowindow div.infotitle{
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #F1F1F1;
	padding-bottom: 12px;
	margin-bottom: 8px;
}
div.infowindow div.infoline{
	margin: 3px 0px;
	color: #A6A6A6;
}
div.infowindow div.infoline.anchor{
   	color: #0068FF;
}
div.infowindow div.infoline.red,
div.infowindow div.infoline.anchor.red{
	color: #FF4D4F;
}
div.infowindow div.edit{
	margin-top: 20px;
	border-top: 1px solid #F1F1F1;
	height: 28px;
	line-height: 28px;
}
div.infowindow div.edit span.vline{
	display: inline-block;
	width: 5px;
	height:28px;
	border-left: 1px solid #F1F1F1;
}
div.infowindow div.edit span.infobutton{
	display: inline-block;
	width: 30%;
	text-align: center;
}
div.infowindow div.edit span.infobutton:hover{
	color: #0068FF;
}

.DialogModule div.line{
	margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 8px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

table.table-detail{
	text-align: center;
	border:1px solid #DDDDDD;
	width: 100%;
}
table.table-detail thead tr{
	background: #99F;
}
table.table-detail th{
	height: 30px;
	border:1px solid #DDDDDD;
}
table.table-detail td{
	border:1px solid #DDDDDD;
}
table.table-detail tbody tr{
	height:30px;
}
table.table-detail tbody tr.odd{
	background: #F0F0FF;
}
table.table-detail tbody tr:hover{
	background: #DDDDFF;
}
table.table-detail tbody tr.selected{
	background: #C0C0FF;
}

#mobileinfo{
	position: absolute;
	left: 0px;
	right: 0px;
	background: #FFF;
	z-index: 10;
	font-size: 14px;
	padding: 0.3em 1em;
}
#mobileinfo div.infotitle{
	font-size: 1.25em;
	font-weight: bold;
}
#mobileinfo div.infoline{
	margin: 3px 0px;
	color: #666;
}
#mobileinfo div.infoline.anchor{
   	color: #0068FF;
}
#mobileinfo div.infoline.red,
#mobileinfo div.infoline.anchor.red{
	color: #FF4D4F;
}
