@CHARSET "UTF-8";

	#searchbox-container{
		position: absolute;
		left: 10px;
		top: 10px;
		z-index: 10000;
	}
	#searchbox-container div.searchDiv{
		float: left;
	}
	#sole-input{
	    padding: 9px 0;
		box-sizing: border-box;
	    border: 0;
	    border-left: 10px solid transparent;
	    border-right: 27px solid transparent;
	    font-size: 16px;
	    color: #333;
	    border-radius: 2px 0 0 2px;
	    width: 258px;
    	box-shadow: 1px 2px 1px rgba(0,0,0,.15);	    
    }
	#searchbox-container .searchItem {
	    width: 57px;
	    height: 37px;
	    border: 0;
	    padding: 0;
	    cursor: pointer;
	    border-radius: 0 2px 2px 0;
	    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
	    background: #757575;
    	font: bold 16px "微软雅黑";
    	color: white;
	}
	#searchbox-container #search-button{
	    background: url(../images/searchbox.png) no-repeat 0 -76px #3385ff;
	}
	#titleDiv{
		position: absolute;
		top: 15px;
		left: 40%;
		width: 20%;
		text-align: center;
		font-size: 20px;
		font-weight: 700;
	    cursor: pointer;
	    z-index: 100;
	}
	#titleDiv em{
		width: 7px;
	    height: 7px;
	    margin-left: 5px;
	    margin-top: 13px;
	    background-image: url(../images/newtools.png);
	    background-repeat: no-repeat;
	    background-position: -12px -12px;	
    }
	#mapTitle{
		white-space:nowrap;
		display: inline-block;
		line-height: 24px;
		color: black;
	    border: 0;
	    border-radius: 2px 0 0 2px;
    	box-shadow: -3px 3px 5px rgba(0,0,255,.35),
    		3px 3px 5px rgba(0,0,255,.15);	    
		padding: 2px 15px 2px 15px;
		background: #FF8888;
	}
	#communityDesc{
		display: none;
		position: absolute;
		left: 10px;
		top: 56px;
		width: 238px;
		overflow-y: hidden;
		background: white;
		padding: 10px;
	    border-radius: 0 2px 2px 0;
	    box-shadow: 5px 5px 5px rgba(0,0,0,.15);
	    font-size: 14px;
	    FONT-FAMILY: "仿宋";
	}
	
	#showCommunities{
		display:none;
		position: absolute;
		top: 56px;
		width: 100%;
		text-align: center;
	}
	#showCommunities #communities{
		margin: auto;
		text-align: left;
		background: white;
		width: 280px;
		border: 1px #C5C5C5 solid;
		padding: 0px 15px;
	    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
	}
	#communities .community{
		cursor: default;
		display: inline-block;
		padding: 5px 10px 5px 10px;
		height: 20px;
		line-height: 20px;
		border: 1px #C5C5C5 solid;
		border-radius: 16px;
		margin: 5px 2px;
	}
	#communities .community:hover{
		border: 1px #000088 solid;
	}

	#setShowThreeDef{
		display: none;
		position: absolute;
		left: 325px;
		top: 56px;
		background: white;
		padding: 10px;
	    border-radius: 0 2px 2px 0;
	    box-shadow: 5px 5px 5px rgba(0,0,0,.15);
	    font-size: 16px;
	}
	
	#setShowThreeDef table tr{
		height: 32px;
		cursor: pointer;
	}
	
	td.icon{
		padding-right: 10px;
	}
	td.check{
		padding-left: 15px;
	}
	tr.nochecked td.check em.checkpic{
		display: inline-block;
		width: 16px;
		height: 16px;
	    background-image: url(../images/safari-checkbox.png);
	    background-repeat: no-repeat;
	    background-position: 0px 0px;	
	}
	tr.checked td.check em.checkpic{
	    background-image: url(../images/safari-checkbox.png);
	    background-repeat: no-repeat;
		background-position: 0px -16px;	
	}
	div.linered{
		width: 15px;
		height: 3px;
		background: #ff0000;
	}