@CHARSET "UTF-8";
table.simpleGrid{
	text-align: center;
	border:1px solid #DDDDDD;
}
table.simpleGrid thead tr{
	background: url(images/sgrid-bg.gif);
}
table.simpleGrid th{
	height: 30px;
	border:1px solid #DDDDDD;
}
table.simpleGrid th:first-child{border-top-left-radius: 4px;}
table.simpleGrid th:last-child{border-top-right-radius: 4px;}
table.simpleGrid tbody tr:last-child td:first-child{border-bottom-left-radius:4px;}
table.simpleGrid tbody tr:last-child td:last-child{border-bottom-right-radius:4px;}
table.simpleGrid td{border:1px solid #DDDDDD;}
table.simpleGrid tbody tr{
	height:30px;
}
table.simpleGrid tbody tr.odd{
	background: #F0F0FF;
}
table.simpleGrid tbody tr:hover{background: #DDDDFF;}
table.simpleGridCtrl{
	margin-top: 10px;
	text-align: center;
	vertical-align:middle;
	font-size:15px;
}
table.simpleGridCtrl select{
	font-size:16px;
}
table.simpleGridCtrl .pagenum{
	margin-left: 8px;
	margin-right: 3px;
}
table.simpleGridCtrl .navPage{
	margin-left: 5px;
}
